body {
  font-family: 'Arial', sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #F6E3D4;
  justify-content: center;
  align-items: center;
  height: 100vh;
  -webkit-user-select: none; /* Disable selection for Webkit browsers */
  -moz-user-select: none; /* Disable selection for Mozilla browsers */
  -ms-user-select: none; /* Disable selection for IE/Edge */
  user-select: none;
}



.quiz-container {
  background: #f6f5f4f4;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  user-select: none;

}

h1 {
  color: #333;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: 0.3s;
  user-select: none;
}

button:hover {
  background-color: #0056b3;
}

.timer {
  font-size: 18px;
  color: #ff4d4d;
  font-weight: bold;
  margin: 10px 0;
}

.quiz-question {
  font-size: 18px;
  font-weight: bold;
  color: #444;
  margin: 15px 0;
  user-select: none;
}

.option-button {
  background: #f8f9fa;
  color: #333;
  border: 1px solid #ddd;
  padding: 12px;
  margin: 5px 0;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.option-button:hover {
  background: #007BFF;
  color: white;
}

.quiz-rules {
  font-size: 16px;
  text-align: left;
  padding: 10px;
  background: #e9ecef;
  border-radius: 5px;
}

.result {
  font-size: 20px;
  font-weight: bold;
  color: #28a745;
  margin: 20px 0;
}
